*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
}

.fpoppins{
    font-family: Poppins;
}

.sheader{
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(232, 231, 223);
}

.stitle{
    margin: 30px;
    font-size: 24pt;
}

.fa-user-circle{
    font-size: 28pt;
    color:rgb(97, 97, 97);
}

.fa-user-circle:hover{
    opacity: 0.9;
    cursor: pointer;
}

.menuRight{
   
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.list1{
    /*background: blue;*/
    font-size: 22px;
    text-decoration: none;
    color: black;
    
}
.list1:hover{
    text-decoration: underline;
}

.lmain{
    background-color: rgb(232, 231, 223);
    height: 100vh;
}

.lmain li a{
    text-decoration: none;
    color: black;
    display: inline-block;
    align-items: center;
    
}
.lmain li a:hover {
    text-decoration: underline;
    font-weight: 400;
}

ul li{
    display: flex;
    flex-direction: row;
    list-style: none;
    vertical-align: middle;
}
.welcome{
    height: inherit;
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    font-size: 26pt;
}
.divsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: spac;
}
/* .shop{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    color: black;
} */
.smain{
    display: flex;
    flex-direction: row;
}
.lmain{
    display: inline-block;
    /*flex-direction: row;*/
    text-align: center;
    /*background: darkgoldenrod;*/
    width: 250px;
}
.rmain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rmain .body{
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
}
.list2{
    font-size: 16pt;
    height:3.5rem;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 200;
}
/* .rmain > *{
    display: inline-block;
    width: 200px;
    margin: 30px;
} */
.divs {
    width: 15rem;
    display: flex;
    flex-direction: column;
    background: rgb(232, 231, 223);
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px 3px rgb(147, 147, 147);
    height: 15rem;
    margin: 20px;
    position: relative;
}

.divs:hover{
    cursor: pointer;
    opacity: 0.6;
}

.divs:hover > .view{
    transform: translateY(-2px);
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.divs div{
    text-align: center;
    background: rgb(232, 231, 223);

}
.selected{
    font-size: 20pt;
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-weight: 400;
}
.selected:hover{
    text-decoration: underline;
    font-weight: bold;
}

.view{
    background-color: rgb(109, 109, 109);
    width: 100%;
    height: 21%;
    position: absolute;
    bottom: -4px;
    transform: translateY(50px);
    opacity: 0;
    font-size: 12pt;
    color: white;
    font-weight: bold;
}