@media (max-width: 820px){
    body{
        width: 100vw;
    }
    
    .indexHeader{
        background-color: rgb(247,245,238);
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
      width: 100vw;
        font-size: 12pt;
    }
    
}
