/*    --color_11: 247,245,238;*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

.fpoppins{
    font-family: Poppins;
}

.indexBody{
    background-color: rgb(247,245,238);
}

.indexHeader{
    background-color: rgb(247,245,238);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}

.logo{
    margin-left: 5%;
    font-size: 22pt;
    text-transform: uppercase;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-right: 10%;
    font-weight: 200;
}

.menu ul li a{
    color: black;
    text-decoration: none;
}

.menu ul li a:hover{
    text-decoration: underline;
    font-weight: 400;
}

.fa{
    font-size: 30pt;
    margin-right: 5%;
    color: rgb(197, 193, 193);
}

.indexMain{
    background-color: rgb(247,245,238);
    min-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.text{
    color: white;
    position: absolute;
    left: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 550px;
    font-size: 28pt;
}

.picContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop{
    width: 120px;
    height: 40px;
    background-color: transparent;
    border: thin solid white;
    color: white;
    font-size: 11pt;
}

.shop:hover{
    cursor:pointer;
    background-color: white;
    color: black;
    transition: ease-in 0.2s;
}

.image{
    opacity: 120%;
    width: 88vw;
}

.products{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    width: 88vw;
    margin: 100px 0px;
    overflow-x: auto;
    padding: 2px;
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
}

.snaps-inline > *{
    scroll-snap-align: start;
}

.container h3{
    font-size: 12pt;
    font-weight: 200;
}


.AboutContainer{
    background-color: rgb(97,96,87);
    width: 88%;
    height: 400px;
    box-shadow: 5px 5px 10px 5px rgb(194, 193, 193);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.jcenter{
    width: 40%;
}

.AboutContainer h2{
    margin-bottom: 20px;
}

.contact{
    border-radius: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    margin-top: 30px;
    width: 92%;
    height: 550px;
    background-color: #f1ebdd;
}

.leftinner{
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    font-weight: 300;
    text-align: center;
}

.leftOuter{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10%;
    width: 100%;
    height: 50%;
}

.rightOuter{
    margin-top: 10%;
}

.contactForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 22rem;
}

.input{
    padding-left: 12px;
    height: 40px;
    margin: 12px 0px;
}

.w{
    width: 95%;
}

.n{
   width: 45%;
}

.rightOuter div textarea{
    width: 100%;
}

#submitBtn{
    background-color: #171717;
    color: white;
    height: 50px;
    width: 150px;
    margin-top: -20px;
}

.seethrough{
    border: thin solid black;
    background-color: #f1ebdd;
}

.map{
    width: 88vw;
    margin-top: 10px;
}

.indexFooter{
    margin: 50px 0px;
    background-color: rgb(247,245,238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.indexFooter h2, h4{
    font-weight: 300;
}

/*  Shop page   */

.product{
    cursor: pointer;
    
}

.product h3{
    font-size: 12pt;
    font-weight: 200;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .QuickView{
    background: rgb(237, 232, 228);
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;

}

.product:hover .QuickView{
    transform: translateY(0);
    opacity: 1;
}
.btn{
    font-size: 1rem;
    font-weight: 100;
    background-color: rgb(237, 232, 228);
    color:#1d1d1d;
    padding: 13px 95px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.btn:hover{
    background-color: rgb(237, 232, 228);
    
}

.star{
    padding: 10px 0;
}

.star i{
    font-size: 0.8rem;
}

.center{
    margin-top: 70px ;
    margin-left: 120px;
}

.small-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 88vw;
    margin: auto;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

.policies{
    display: flex;
    margin-top: 60px;
    margin-left: 60px;
    width: 50%;
    height: 550px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #f1ebdd;
    color: rgb(97, 96, 87);
}


.policies h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
}

#policiesBody{
    background-color: rgb(247,245,238);
}

.para{
    width: 70%;
}

.parag{
    font-size: 13px;
    font-weight: 150;
    line-height: 2;
    color: #171717;
}

.policyI img{
    width: 89.5%;
    align-items: center;
    margin-top: 60px;
    margin-left: 40px;

}

.policy{
    display: flex;
    align-content: center;
}

.lowerSection{
    background-color: rgb(97, 96, 87);
    color: #f1ebdd;
    text-align: center;
    padding: 70px 0;
}

.lowerSection p{
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 15px;
}

.lowerSection h1{
    font-weight: 300;
    font-size: 40px;
}

.lowerSection h5{
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
}

.shipPolicy{
    margin-top: 20px;
}

.shipPolicy i{
    margin-bottom: 20px;
}

.btn1{
    cursor: pointer;
    color: #f1ebdd;
    border: 1px solid #f1ebdd;
    margin-top: 15px;
    background: rgb(97, 96, 87);
    padding: 13px 20px;
}

.btn1:hover{
    color: rgb(97, 96, 87);
    background: #f1ebdd;
}


.h1mar{
    margin-top: 25px;
}

.imar{
    margin-top: 75px;
}

.about{
    display: flex;
    margin-top: 60px;
    margin-left: 60px;
    width: 50%;
    height: 600px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #f1ebdd;
    color: rgb(97, 96, 87);
}

.about h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
}

.aboutI img{
    width: 80.5%;
    align-items: center;
    margin-top: 60px;
    margin-left: 40px;

}

#aboutBody{
    background-color: rgb(247,245,238);
}

