/*    --color_11: 247,245,238;*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

div ul li .black{
    color: black;
    font-size: 90%;
}

div ul li .black:hover{
    color: black
}


.fpoppins{
    font-family: Poppins;
}

.indexBody{
    width: 98vw;
    height: 100vh;
    background-color: rgb(247,245,238);
}

.indexHeader{
    background-color: rgb(247,245,238);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
}

.logo{
    margin-left: 6%;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: center;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 10%;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-right: 10%;
    font-weight: 200;
}

.menu ul li a{
    color: black;
    text-decoration: none;
}

.menu ul li a:hover{
    text-decoration: underline;
    font-weight: 400;
}

.fa{
    font-size: 30pt;
    margin-right: 5%;
    color: rgb(197, 193, 193);
}

.fa:hover {
    color: rgb(179, 175, 175);
}

.fa:focus > .userBar{
    opacity: 1;
}

.fa:hover > .userBar{
    opacity: 1;
    pointer-events: auto;
}

.userBar{
    pointer-events: none;
    position: absolute;
    left: 78%;
    top: 4.4rem;
    z-index: 5;
    width: 200px;
    height: 250px;
    background-color: #efeeec;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    border-radius: .25rem;
    padding: 10px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.userBarMenu > .menuLeft{
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 50%;
    justify-content: space-around;
}

.menuRight{
    width: 50%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.userBarMenu{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menuTags{
    font-size: 45%;
    font-weight: 200;
}

.menuRight > .fa{
    font-size: 45%;
    color: black;
}

.menuRight > .fas{
    font-size: 45%;
    transform: translateX(-6px);
    color: black;
}

/*Index Main*/

.indexMain{
    background-color: rgb(247,245,238);
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.categoriesExplorer{
    width: 88vw;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.categoriesPicContainer:hover{
    opacity: .75;
}

.categoriesPicContainer:hover .textcont{
    margin-top: -11%;
    opacity: 1;
    transition: margin-top 0.2s ease-in-out, opacity 0.175s ease-in-out;
}

.categoriesPicContainer a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color:black;
}  

.fa-arrow-right{
    font-size: 1.75rem;
    color: black;
}

.textcont{
    margin-top: 0;
    opacity: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    border: thin solid #171717;
    background-color: white;
    font-size: .85rem;
    transition: color 0.15s ease-in, background-color 0.1s ease-in-out;
}

.textcont:hover{
    background-color: white;
    color: black;
}

.textcont:hover > .fa-arrow-right{
    color: black;
}

.menucontent .fa{
    height: 35px;
    font-size: 16px;
    color: black;
}

.container{
    position: relative;
}

.bestsellertag{
    --f: 10px; 
    --r: 15px; 
    --t: 10px;
    color: white;
    position: absolute;
    inset: var(--t) calc(-1*var(--f)) auto auto;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path: 
        polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f)/2));
    background: #1b1bc9;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005; 
}

.products{
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    width: 90%;
    margin: 100px 0px;
    overflow-x: auto;
    padding: 2px;
}

.snaps-inline{
    scroll-snap-type: inline mandatory;
}

.snaps-inline > *{
    scroll-snap-align: start;
}

.container h3{
    font-size: 12pt;
    font-weight: 200;
}


.AboutContainer{
    background-color: rgb(97,96,87);
    width: 90%;
    height: 400px;
    box-shadow: 5px 5px 10px 5px rgb(194, 193, 193);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.jcenter{
    width: 40%;
}

.AboutContainer h2{
    margin-bottom: 20px;
}

.contact{
    border-radius: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    margin-top: 30px;
    width: 92%;
    height: 550px;
    background-color: #f1ebdd;
}

.leftinner{
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    font-weight: 300;
    text-align: center;
}

.leftOuter{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10%;
    width: 100%;
    height: 50%;
}

.rightOuter{
    margin-top: 10%;
}

.contactForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 22rem;
}

.input{
    padding-left: 12px;
    height: 40px;
    margin: 12px 0px;
}

.w{
    width: 95%;
}

.n{
   width: 45%;
}

.rightOuter div textarea{
    width: 100%;
}

#submitBtn{
    background-color: #171717;
    color: white;
    height: 50px;
    width: 150px;
    margin-top: -20px;
}

.seethrough{
    border: thin solid black;
    background-color: #f1ebdd;
}

.map{
    width: 88vw;
    margin-top: 10px;
}

.indexFooter{
    margin: 50px 0px;
    background-color: rgb(247,245,238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.indexFooter h2, h4{
    font-weight: 300;
}

/*  Shop page   */

.product{
    cursor: pointer;
    
}

.product h3{
    font-size: 12pt;
    font-weight: 200;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
    
}

.product .QuickView{
    background: rgb(237, 232, 228);
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;

}

.product:hover .QuickView{
    transform: translateY(0);
    opacity: 1;
}
.btn{
    font-size: 1rem;
    font-weight: 100;
    background-color: rgb(237, 232, 228);
    color:#1d1d1d;
    padding: 13px 95px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.btn:hover{
    background-color: rgb(237, 232, 228);
    
}

.star{
    padding: 10px 0;
}

.star i{
    font-size: 0.8rem;
}

.center{
    margin-top: 70px ;
    margin-left: 120px;
}

.small-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 88vw;
    margin: auto;
    padding: 2px;
    align-items: center;
    justify-content: center;
}

.small-container img{
    width: 290px;
    height: 290px;
}

.policies{
    display: flex;
    margin-top: 60px;
    margin-left: 60px;
    width: 50%;
    height: 550px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #f1ebdd;
    color: rgb(97, 96, 87);
}


.policies h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
}

#policiesBody{
    background-color: rgb(247,245,238);
}

.para{
    width: 70%;
}

.parag{
    font-size: 13px;
    font-weight: 150;
    line-height: 2;
    color: #171717;
}

.policyI img{
    width: 89.5%;
    align-items: center;
    margin-top: 60px;
    margin-left: 40px;

}

.policy{
    display: flex;
    align-content: center;
}

.lowerSection{
    background-color: rgb(97, 96, 87);
    color: #f1ebdd;
    text-align: center;
    padding: 70px 0;
}

.lowerSection p{
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 10px;
    line-height: 2;
    letter-spacing: 1px;
    font-size: 15px;
}

.lowerSection h1{
    font-weight: 300;
    font-size: 40px;
}

.lowerSection h5{
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
}

.shipPolicy{
    margin-top: 20px;
}

.shipPolicy i{
    margin-bottom: 20px;
}

.btn1{
    cursor: pointer;
    color: #f1ebdd;
    border: 1px solid #f1ebdd;
    margin-top: 15px;
    background: rgb(97, 96, 87);
    padding: 13px 20px;
}

.btn1:hover{
    color: rgb(97, 96, 87);
    background: #f1ebdd;
}


.h1mar{
    margin-top: 25px;
}

.imar{
    margin-top: 75px;
}

.about{
    display: flex;
    margin-top: 60px;
    margin-left: 60px;
    width: 50%;
    height: 600px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #f1ebdd;
    color: rgb(97, 96, 87);
}

.about h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
}

.aboutI img{
    width: 80.5%;
    align-items: center;
    margin-top: 60px;
    margin-left: 40px;

}

#aboutBody{
    background-color: rgb(247,245,238);
}

.Scenter{
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

/* product page */

.Ppage{
    display: flex;
    width: 1000px;
    margin: 150px auto;
}

.url{
    display: flex;
    position: relative;
    transform: translate(16.5rem,5rem);
    font-size: 20px;
}

.url a{
    cursor: pointer;
    color: rgb(97, 96, 87);
    text-decoration: none;
} 
.url p{
    margin: 0 1rem;
    color: rgb(144, 143, 132) ;
} 


.product-details{
    width: 50%;
}

.main-img{
    width: 500px;
}

.main-img img{
    width: inherit;
    border: 1px solid rgb(144, 143, 132);
}

.images{
    display: flex;
    justify-content: flex-start ;
    width: 100%;
    margin-top: 15px;
}

.other-img{
    width: 60px;
    margin-left: 20px;
}

.other-img img{
    width: inherit;
    cursor: pointer;
    border: 1px solid rgb(144, 143, 132);
    transition: all 0.3s ease;
}

.other-img:hover img{
    opacity: 0.5;
}

.other-img:checked img{
    border: 2px solid rgb(74, 25, 178) ;
}

.description{
    margin: 15px 15px ;
    font-size: 15px;
    font-weight: 100;
}

.right-details{
    margin: 0 50px;
}

.product-name{
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(97, 96, 87);
}

.product-size{
    margin-top: 30px;
    display: flex;
}

.product-size p{
    font-size: 0.9rem;
    color: rgb(97, 96, 87);
}

.size-radio-btn{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 15px;
    border: 1px solid rgb(97, 96, 87);
    border-radius: 50%;
    margin: 25px;
    margin-left: 0;
    line-height: 60px;
    text-transform: uppercase;
    color: rgb(97, 96, 87);
    cursor: pointer;
}


.product-size input[type="radio"]:checked + label{
    background: rgb(97, 96, 87);
    color: #fff;
} 


.product-quantity{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.product-quantity p{
    font-size: 0.9rem;
    color: rgb(97, 96, 87);
}

.product-quantity input{
    margin-top: 10px;
    border: 1px solid rgb(144, 143, 132);
    width: 70px;
    height: 40px;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}

.add-btn{
    margin-top: 30px;
}

.add-btn button{
    cursor: pointer;
    width: 100%;
    height: 3rem;
    color: #fff;
    background-color: rgb(97, 96, 87) ;
    transition: all 0.3s ease;
}

.add-btn:hover button{
    opacity: 0.7;
}

.product-color{
    margin-top: 30px;
    display: flex;
}

.product-color p{
    font-size: 0.9rem;
    color: rgb(97, 96, 87);
}

.Pcolor{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(97, 96, 87);
    border-radius: 50%;
    margin: 25px;
    margin-left: 0;
    cursor: pointer;
}
.product-color  input[type="radio"]:checked + label{
    border: 3px solid #000;
    transform: scale(0.8);
}






@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    .indexBody{
        min-width: 100vw;
        height: 100vh;
    }

    .indexHeader{
        width: 100%;
        justify-content: space-around;
    }
    .logo{
        font-size: 80%;
        width: 25%;
    }
    .menu{
        font-size: 60%;
        width: 100%;
        margin-left: 5%;
        justify-content: space-around;
    }

    .fa{
        margin-left: 50%;
    }
    .indexMain{
        margin-top: 10%;
        width: 100vw;
    }

}
